{% assign columnWidth = "col-md-10" %}
{% assign columnOffsetWidth = "" %}

{% capture columnWidth %}col-md-{{ Model.Width }}{% endcapture %}

{% if Model.Offset > 0 %}
    {% capture columnOffsetWidth %}col-md-offset-{{ Model.Offset }}{% endcapture %}
{% endif %}

<div class="{{ columnWidth }} {{ columnOffsetWidth }}">
    {{ Model | DisplayChildren }}
</div>